# Flas config.
export FLASK_CONFIG=dev
export PORT=8000

# Database default configs.
export MARIADB_HOST=db
export MARIADB_NAME=spost
export MARIADB_USER=root
export MARIADB_PORT=3306
export MARIADB_ROOT_PASSWORD_FILE=/run/secrets/db-password
# export MARIADB_DATABASE_URL=
